@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <b>Message:</b> @Model.ErrorMessage
</p>
<p>
    <b>Soruce:</b> @Model.Source
</p>

